.list_tile {
    width: calc(100% - 20px);
    height: 80px;
    background-color: var(--primary-color);
    border-bottom: solid rgba(128, 128, 128, 0.224) 2px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
    transition: all 0.1s;
    padding-left: 10px ;
    cursor: pointer;
    overflow-y: hidden;
}

.item {
   min-width: 150px;
}

.item_heading {
  font-weight: bold;
  font-size: 12px;
   /* display: flex;
  justify-content: center;
  align-items: center; */
}

.item_content {
  height: 20px;
  margin-top: 5px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
     /* background-color: aliceblue; */
  border-radius: 10px;
}

.item_data {
    width: 100px;
    font-size: 14px;
    /* font-weight: bold; */
}

.item_data2 {
    width: 60px;
    font-size: 14px;
    /* font-weight: bold; */
}

.list_tile:hover {
   scale: 1.01;
   border-radius: 4px;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

input { 
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    color: black;
    width: 110px;
}

button {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
   position: relative;
   background-color: transparent;
}

.tooltiptext {
    /* visibility: hidden; */
    width: 40px;
    height: 50px;
    background-color:transparent;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    font-size: 15px;
    z-index: 1;
    
    top: -28px;
    left: 10px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

 .tooltiptext:hover{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s;
    /* background-color: var(--primary-color); */
}