.time {
    width: 130px;
    height: 90px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.heading {
   font-weight: bold;
   font-size: 10px;
}

.content {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}