.time {
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading {
   font-weight: bold;
   font-size: 10px;
}

.content {
  font-size: 18px;
  font-weight: bold;
}