.menu {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    position: fixed;
    top: 0;
    right: -100vw; 
    width: 100vw;
    background-color: var(--primary-color);
    color: #fff;
    transition: right 0.3s ease;
    z-index: 9999;
}

 .active {
    right: 0; 
}

.hamburger {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
}