.nav_bar {
    width: calc(100% - 0px);
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    background-color: #101010;
    flex-direction: row;
    color: white;
}

.logo {
    width: 130px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.logo_name {
   line-height: 16px;
}

.logo_slogan {
    font-size: 10px;
}


.times {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 20px;
    width: 180px;
    align-items: center;
}

.day {
    border-right: solid 1px  rgba(128, 128, 128, 0.224) ;
    padding-right: 12px;
}

.audio_css {
    border-right: solid 1px  rgba(128, 128, 128, 0.224) ;
    width: 30px;
    cursor: pointer;
}