.toast_container {
    width: 300px;
    height: 42px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 32, 32,0.5);
    backdrop-filter: blur(10px); 
    color: white;
    visibility: visible;
    outline: solid rgba(128, 128, 128, 0.224) 1px;
    position: relative;
}

.toast_holder {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 9999999999;
    top: 0px;
    left: 0px;
    /* background-color: red; */
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy_pad {
    position: absolute;
    top: 4px;
    left: 5px;
    background-color: rgba(32, 32, 32,0.0);
    font-size: 9px;
    /* letter-spacing: 1px; */
    font-weight: bold;
    color:  rgb(101, 101, 101);
}

