:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */


  

  --accet-color : rgb(95,36,159);
  --primary-color : rgb(255,255,255);
  --text-color : black
 

}

body {
  margin: 0;
  width: 100%;
  
  /* background-color: aqua; */
  /* height: 100vh; */
  overflow-y: auto;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  position: relative;
}

body, * {
  margin: 0px;  
  padding: 0%;  
  font-family: 'Lato';  
}